/* Global styles */

:root {
  --bg-color: rgb(230, 230, 230);
  --secondary-bg-color: rgb(255, 255, 255);
  --fg-color: rgb(40, 40, 40);
  --pink-color: rgb(192, 105, 192);
  --red-color: rgb(214, 72, 72);
  --orange-color: rgb(255, 127, 0);
  --purple-color: rgb(106, 90, 205);
  --blue-color: rgb(0, 136, 204);
  --green-color: rgb(60, 179, 113);
  --yellow-color: rgb(255, 255, 0);
  --gray-color: rgb(143, 143, 143);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.bg-logo {
  width: 30%;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.15;
  z-index: -10;
}

.container {
  padding: 0 1rem 1rem 1rem;
}

.centered {
  text-align: center;
}

.no-bullets {
  list-style-type: none;
}

.responsive-img {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  /*background-color: var(--secondary-bg-color);*/
}

.links a {
  color: var(--blue-color);
  text-decoration: none;
}

/* Responsive stuff  */

.section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-bottom: 5rem;
  justify-items: left;
}

.section * {
  grid-column: 1;
}

@media (min-width: 900px) {
  .section {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 5rem;
    justify-items: left;
  }

  .section * {
    grid-column: 2 / 4;
  }

  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

/* End of responsive stuff */

/* Animation stuff */

@keyframes fade-in-word {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
}

.fade-in-word {
  position: relative;
  animation: fade-in-word linear 3s;
}

.hidden {
  display: none;
}

/* Other */

#footer {
  background-color: var(--fg-color);
}

/* Coloring fot header line */

.white {
  color: var(--bg-color);
}

.pink {
  color: var(--pink-color);
}

.red {
  color: var(--red-color);
}

.orange {
  color: var(--orange-color);
}

.purple {
  color: var(--purple-color);
}

.blue {
  color: var(--blue-color);
}

.green {
  color: var(--green-color);
}

.gray {
  color: var(--gray-color);
}

.hand {
  cursor: pointer;
}

/* Helper classes */

.m-0  { margin: 0; }
.m-1  { margin: 1rem; }
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mb-3 { margin-bottom: 3rem; }
.mt-1 { margin-top: 1rem; }
.p-0  { padding: 0; }
.p-1  { padding: 1rem; }
.pt-1 { padding-top: 1rem ; }
.pb-1 { padding-bottom: 1rem ; }
