/* Global styles */

:root {
  --bg-color: rgb(230, 230, 230);
  --fg-color: rgb(40, 40, 40);
  --pink-color: rgb(192, 105, 192);
  --red-color: rgb(214, 72, 72);
  --orange-color: rgb(255, 127, 0);
  --purple-color: rgb(106, 90, 205);
  --blue-color: rgb(0, 136, 204);
  --green-color: rgb(60, 179, 113);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  padding: 0 1rem 1rem 1rem;
}

.centered {
  text-align: center;
}

.responsive-img {
  width: 100%;
}

/* Responsive stuff  */

.section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-bottom: 10rem;
  justify-items: center;
}

.section * {
  grid-column: 1;
  text-align: center;
}

@media (min-width: 900px) {
  .section {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 10rem;
    justify-items: left;
  }

  .section * {
    grid-column: 2 / 4;
    text-align: left;
  }
}

/* End of responsive stuff */

.title-word {
  animation: fade-in linear 3s;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
}

.title-word.hidden {
  display: none;
}

#section-1 {
  background:  var(--bg-color)
}

#footer {
  background:  var(--fg-color)
}

/* Coloring fot header line */

.white-text {
  color: var(--bg-color);
}

.pink {
  color: var(--pink-color);
}

.red {
  color: var(--red-color);
}

.purple {
  color: var(--purple-color);
}

.blue {
  color: var(--blue-color);
}

.green {
  color: var(--green-color);
}

.warning-banner {
  background-color: var(--orange-color);
}

/* Helper classes */

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}
